{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-await-in-loop": "warn",
        "no-duplicate-imports": "warn",
        "no-promise-executor-return": "warn",
        "no-self-compare": "warn",
        "no-template-curly-in-string": "warn",

        "arrow-body-style": ["warn", "always"],
        "block-scoped-var": "warn",
        "curly": "warn",
        "default-case-last": "warn",
        "default-param-last": "warn",
        "dot-notation": "warn",
        "eqeqeq": "warn",
        "multiline-comment-style": "warn",
        "new-cap": "warn",
        "no-array-constructor": "warn",
        "no-confusing-arrow": "warn",
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-floating-decimal": "warn",
        "no-implied-eval": "warn",
        "no-inline-comments": "warn",
        "no-labels": "warn",
        "no-lone-blocks": "warn",
        "no-lonely-if": "warn",
        "no-loop-func": "warn",
        "no-multi-assign": "warn",
        "no-new": "warn",
        "no-new-func": "warn",
        "no-new-object": "warn",
        "no-new-wrappers": "warn",
        "no-return-assign": "warn",
        "no-throw-literal": "warn",
        "no-undef-init": "warn",
        "no-unneeded-ternary": "warn",
        "no-useless-call": "warn",
        "no-useless-computed-key": "warn",
        "no-useless-concat": "warn",
        "no-useless-constructor": "warn",
        "no-useless-rename": "warn",
        "no-var": "warn",
        "no-void": "warn",
        "operator-assignment": "warn",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "prefer-object-spread": "warn",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": "warn",
        "require-await": "warn",
        "spaced-comment": "warn",
        "yoda": "warn",

        "array-bracket-spacing": ["warn", "always"],
        "arrow-parens": ["warn", "always"],
        "arrow-spacing": "warn",
        "block-spacing": ["warn", "always"],
        "brace-style": ["warn", "1tbs"],
        "comma-spacing": ["warn", { "after": true }],
        "comma-style": ["warn", "last"],
        "computed-property-spacing": ["warn", "never"],
        "eol-last": ["warn", "always"],
        "func-call-spacing": ["warn", "never"],
        "function-call-argument-newline": ["warn", "never"],
        "function-paren-newline": ["warn", "never"],
        "implicit-arrow-linebreak": ["warn", "beside"],
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "no-multi-spaces": "warn",
        "no-multiple-empty-lines": "warn",
        "no-trailing-spaces": "warn",
        "no-whitespace-before-property": "warn",
        "object-curly-spacing": ["warn", "always"],
        "quotes": ["warn", "double"],
        "semi": ["warn", "always"],
        "semi-spacing": "warn",
        "semi-style": ["warn", "last"],
        "space-before-blocks": ["warn", "always"],
        "space-in-parens": ["warn", "never"],
        "space-infix-ops": "warn",
        "space-unary-ops": "warn",
        "switch-colon-spacing": "warn",
        "template-curly-spacing": ["warn", "never"]
    }
}